{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>
    <div class="top_navigation">
        <a class="active" href={%url 'index' %}>Main page</a>
        <a href={%url 'api' %}>API section</a>
        <a href={%url 'admin:index' %}>Admin</a>
        <a href={%url 'recorder:index' %}>Last race</a>
        <a href={%url 'recorder:races' %}>List of races</a>
    </div>
<div class="main_container">
    <h1> Home page </h1>
    <h2> Introduction </h2>
    <p>
        Karting App project was made to create and record races of go-kart competition at <a href= "https://www.karting.ua/"> karting.ua</a>.
        It can record individual laps, give statistic and analyze karting time
        To navigate throughtout the site you can use navigation panel at the top or read instructions below 
    </p>
    <h2> Navigation explanation </h2>
    <p>
        To receive information about last created race, navigate to or click the link: <a href="{%url 'recorder:index' %}">/recorder</a> #Recorder <br>
        To receive the list of all races, navigate to or click the link: <a href="{%url 'recorder:races' %}">/recorder/races</a> #Recorder
    </p>
    <p>
        Note: This section needs race_id for acess, and it could be acessed only with already existing ID <br>
        Links to this resources could be found in the #Recorder part of the project
    </p>
    <ul>
        <li>To receive records of the particular race, navigate to <b>/recorder/races/race_id/view</b> #Recorder</li>
        <li>To receive analyze of karts in the particular race, navigate to <b>/analyzer/race_id</b> #Analyzer</li>
        <li>To receive static of the particular race, navigate to <b>/analyzer/statistic/race_id</b> #Analyzer</li>
    </ul>
    <p>To get details of the API section, navigate to or click the link: <a href="{%url 'api' %}">/api</a></p>
    <p>Project also have an Admin part, that could create races and edit other race related details: <a class='in_p' href="{%url 'admin:index' %}">/admin</a>
</div>
</body>
</html>
