{% load static %}

<html>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
  <body>
    <div class="top_navigation">
      <a href={%url 'index' %}>Main page</a>
      <a href={%url 'recorder:index' %}>Last race</a>
      <a class="active" href={%url 'recorder:races' %}>List of races</a>
    </div>
    {% if all_races_list %}
    <table class="section">
      <tr>
        <th>name_of_the_race</th>
        <th>publish_date</th>
        <th>date_record_started</th>
        <th>date_record_finished</th>
        <th>is_recorded</th>
        <th>was_recorded_complete</th>
      </tr>
      {% for race in all_races_list %}
      <tr>
        <td>
          <a href="{% url 'recorder:view' race.id %}"
            >{{ race.name_of_the_race }}</a
          >
        </td>
        <td>{{race.publish_date}}</td>
        <td>{{race.date_record_started}}</td>
        <td>{{race.date_record_finished}}</td>
        <td>{{race.is_recorded}}</td>
        <td>{{race.was_recorded_complete}}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>No races are available.</p>
    {% endif %}
  </body>
</html>
