<html>
  <style>
    table,
    th,
    td {
      border: 1px solid black;
    }
  </style>
  <body>
    <a href="{%url 'recorder:races' %}">Go back to the list of races</a>&#160&#160<a href="{%url 'analyzer:analyze_race' race.id%}">Analyze this race</a>
    {%if race%}
    <h1>Race information</h1>
    <p>Name: {{race.name_of_the_race}}</p>
    <p>Publish Date: {{race.publish_date}}</p>
    <p>Date and time when record started: {{race.date_record_started}}</p>
    <p>Date and time when record finished: {{race.date_record_finished}}</p>
    <p>Was race recorded: {{race.is_recorded}}</p>
    <p>Was process of recording complete: {{race.was_recorded_complete}}</p>
    <h2>Records of the race:</h2>
    {% if all_races_records %}
    <table>
      <tr>
        <th>team_number</th>
        <th>pilot_name</th>
        <th>kart</th>
        <th>lap_count</th>
        <th>lap_time</th>
        <th>s1_time</th>
        <th>s2_time</th>
        <th>team_segment</th>
        <th>true_name</th>
        <th>true_kart</th>
      </tr>
      {% for records_for_race in all_races_records %}
      <tr>
        <td>{{records_for_race.team_number}}</td>
        <td>{{records_for_race.pilot_name}}</td>
        <td>{{records_for_race.kart}}</td>
        <td>{{records_for_race.lap_count}}</td>
        <td>{{records_for_race.lap_time}}</td>
        <td>{{records_for_race.s1_time}}</td>
        <td>{{records_for_race.s2_time}}</td>
        <td>{{records_for_race.team_segment}}</td>
        <td>{{records_for_race.true_name}}</td>
        <td>{{records_for_race.true_kart}}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>There are no records for this race</p>
    {% endif %} {%else%}
    <p>There is no race on this id</p>
    {%endif%}
  </body>
</html>
