{% load static %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
  </head>
  <body>
    <div class="top_navigation">
      <a href={%url 'index' %}>Main page</a>
      <a class="active" href={%url 'recorder:index' %}>Last race</a>
      <a href={%url 'recorder:races' %}>List of races</a>
      {%if race_id%}
      <a href={%url 'recorder:view' race_id %}>Race records</a>
      <a href={%url 'analyzer:analyze_race' race_id%}>Analyze race</a>
      <a href={%url 'analyzer:statistic' race_id%}>Get race statistic</a>
      {%endif%}
    </div>
    <h1>Last race created information</h1>
    {%if race%}
    <p>This is the last race that was created and information about it:</p>
    <div class="section">
      <p>Id: {{race.id}}</p>
      <p>Name: {{race.name_of_the_race}}</p>
      <p>Publish Date: {{race.publish_date}}</p>
      <p>
        Date and time when record started: {{race.date_record_started}}
      </p>
      <p>
        Date and time when record finished: {{race.date_record_finished}}
      </p>
      <p>Was race recorded: {{race.is_recorded}}</p>
      <p>
        Was process of recording complete: {{race.was_recorded_complete}}
      </p>
    </div>
    <h2>Records of the race:</h2>
    {% if records_of_the_race %}
    <table class="section">
      <tr>
        <th>team_number</th>
        <th>pilot_name</th>
        <th>kart</th>
        <th>lap_count</th>
        <th>lap_time</th>
        <th>s1_time</th>
        <th>s2_time</th>
        <th>team_segment</th>
        <th>true_name</th>
        <th>true_kart</th>
      </tr>
      {% for record in records_of_the_race %}
      <tr>
        <td>{{record.team_number}}</td>
        <td>{{record.pilot_name}}</td>
        <td>{{record.kart}}</td>
        <td>{{record.lap_count}}</td>
        <td>{{record.lap_time}}</td>
        <td>{{record.s1_time}}</td>
        <td>{{record.s2_time}}</td>
        <td>{{record.team_segment}}</td>
        <td>{{record.true_name}}</td>
        <td>{{record.true_kart}}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>There are no records for this race</p>
    {% endif %} {%else%}
    <p>There was not created any race. Ask admin to create first race</p>
    {%endif%}
  </body>
</html>
