{% load analyzer_extras %} {% load static %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
  </head>
  <body>
    <div class="top_navigation">
      <a href={%url 'index' %}>Main page</a>
      <a href={%url 'recorder:index' %}>Last race</a>
      <a href={%url 'recorder:races' %}>List of races</a>
      <a href={%url 'recorder:view' race_id %}>Race records</a>
      <a class="active" href={%url 'analyzer:analyze_race' race_id%}>Analyze race</a>
      <a href={%url 'analyzer:statistic' race_id%}>Get race statistic</a>
    </div>
    {%if data|lookup:"temp_predictions" or data|lookup:"temp_message" or data|lookup:"fastestlap_predictions" or data|lookup:"fastestlap_message"%} 
    {%if data|lookup:"temp_predictions" or data|lookup:"temp_message"%}
    <h1>Predictions of the karts` temp:</h1>
    {%if data|lookup:"temp_predictions"%} 
    {%for table in data|lookup:"temp_predictions"%}
    <table class="section">
      <tr>
        {%for header in table.0%}
        <th>
          {{header}} {%if header != "kart"%}, score =
          {{data|lookup:"temp_r2_scores"|lookup:header}}
        </th>
        {%endif%} {%endfor%}
      </tr>
      {%for row in table%}
      <tr>
        {%for item in row.items %}
        <td>{{item.1}}</td>
        {%endfor%}
      </tr>
      {%endfor%}
    </table>
    {%endfor%} 
    {% else %}
    <p>{{data|lookup:"temp_message"}}</p>
    {%endif%} {%endif%} 
    {%if data|lookup:"fastestlap_predictions" or data|lookup:"fastestlap_message"%}
    <h1>Predictions of the karts` fastest lap:</h1>
    {%if data|lookup:"fastestlap_predictions"%} 
    {%for table in data|lookup:"fastestlap_predictions"%}
    <table class="section">
      <tr>
        {%for header in table.0%}
        <th>
          {{header}} {%if header != "kart"%}, score =
          {{data|lookup:"fastestlap_r2_scores"|lookup:header}}
        </th>
        {%endif%} {%endfor%}
      </tr>
      {%for row in table%}
      <tr>
        {%for item in row.items %}
        <td>{{item.1}}</td>
        {%endfor%}
      </tr>
      {%endfor%}
    </table>
    {%endfor%} {% else %}
    <p>{{data|lookup:"fastestlap_message"}}</p>
    {%endif%} {%endif%}
    {% else %}
    <p>There are no viable records to analyze for this race.</p>
    {%endif%}
  </body>
</html>
