{% extends 'admin/base.html' %}

{% block content %}
    <p>To csv be valid, it should have "pilot" and "avarage_lap_time" in columns. ID Of The Race field is also necessary to fill</p>
    <div>
        <form action="." method="POST" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
        <label for="race_id">ID Of The Race:</label><br>
            <input type="text" id="race_name" name="race_id"><br>
            
                <button type="submit">Upload CSV</button>
        </form>
    </div>
    <br />

{% endblock %}