{% load analyzer_extras %} {% load static %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    </head>
    <body>
        <div class="top_navigation">
            <a href={%url 'index' %}>Main page</a>
            <a href={%url 'recorder:index' %}>Last race</a>
            <a href={%url 'recorder:races' %}>List of races</a>
            <a href={%url 'recorder:view' race_id %}>Race records</a>
            <a href={%url 'analyzer:analyze_race' race_id%}>Analyze race</a>
            <a class="active" href={%url 'analyzer:statistic' race_id%}>Get race statistic</a>
        </div>
    <div class="main_container">
        {%if data|lookup:"karts"%}
            {%for kart in data|lookup:"karts"%}
                <div class="race_info_container"> 
                    <p><strong>{{kart.kart}}</strong>, Kart Fastest Lap: <strong>{{kart.kart_fastest_lap}}</strong>, Kart Temp: <strong>{{kart.kart_temp}}</strong></p>
                        <details>
                            <summary> Pilots </summary> 
                            {%for pilot in kart.pilots%}
                                <details>
                                        <summary> Pilot: <strong>{{pilot.pilot_name}}</strong>, Temp With Pilot: <strong>{{pilot.temp_with_pilot}}</strong>, Fastest Lap With Pilot: <strong>{{pilot.fastest_lap_with_pilot}}</strong>  </summary> 
                                        <ul>
                                            {% comment %} <li> Temp With Pilot: {{pilot.temp_with_pilot}} </li>
                                            <li> Fastest Lap With Pilot: {{pilot.fastest_lap_with_pilot}} </li> {% endcomment %}
                                            <li> Pilot Temp: <strong>{{pilot.pilot_temp}} </strong></li>
                                            <li> Pilot Fastest_lap: <strong>{{pilot.pilot_fastest_lap}} </strong></li>
                                            <li> Team Segment: <strong>{{pilot.team_segment}} </strong></li>
                                            <li> Temp From Average Coeficient: <strong>{{pilot.temp_from_average_coeficient}} </strong></li>
                                        </ul>
                                </details>
                            {%endfor%}
                        </details>
                </div> 

            {%endfor%}
        {% else %}
            <p>This race has no records to compute statistic on.</p>
        {%endif%}
    </div>
    </body>
</html>
